<%- include("includes/head"); %>
<%- include("partials/header"); %>

<div class="home main-container-box">

    <section class="mt-4 d-flex flex-column w-100">
        <%- include("partials/flashMessage"); %>
        
        <h3>Home</h3>
    </section>

</div>

<%- include("partials/footer"); %>
<%- include("includes/footer"); %>