<%- include("includes/head"); %>
<%- include("partials/header"); %>

<div class="home main-container-box">
    <section class="mt-4 d-flex flex-column w-100">
        <%- include("partials/flashMessage"); %>
        <div class="pt-3 mt-3 d-flex flex-wrap">
            <h1 class="h3 d-flex col-12 col-lg-8 mb-2 mb-lg-0">Home</h1>
            <div class="d-flex align-items-center gap-2 col-12 col-lg-4">
                <a href="/" class="btn btn-warning">Limpar</a>
                <form action="/" method="GET" class="form-group">
                    <input type="hidden" name="search" value="<%= search %>">
                    <input type="hidden" name="order" value="new">
                    <button type="submit" class="border-0"><i class="text-dark bi bi-arrow-up"></i></button>
                </form>
                <form action="/" method="GET" class="form-group">
                    <input type="hidden" name="search" value="<%= search %>">
                    <input type="hidden" name="order" value="old">
                    <button type="submit" class="border-0"><i class="text-dark bi bi-arrow-down"></i></button>
                </form>
                <form action="/" method="GET" class="form-group">
                    <div class="input-group">
                        <div class="form-outline">
                          <input type="search" name="search" class="form-control" />
                          <label class="form-label" for="search">Está procurando algo?</label>
                        </div>
                        <button type="submit" class="btn btn-warning">
                          <i class="fas fa-search"></i>
                        </button>
                      </div>
                </form>
            </div>
        </div>
        <div class="pt-3 border-top border-warning mt-3">
            <% if(search) { %>
                <h2 class="h4">Você está buscando por: <span class="text-warning"><%= search %></span></h1>
                    <% if(toughtsQty) { %>
                        <h2 class="h6">Foram encontrados <span class="text-warning"><%= toughtsQty %></span> resultados</h2>
                    <% } else { %>
                        <h2 class="h6">Não foram encontrados resultados para <span class="text-warning"><%= search %></span></h2>
                    <% } %>
            <% } else { %>
                <h2 class="h4">Todos pensamentos</h1>
            <% } %>
        </div>
        <ul class="list-group list-group-flush">
            <% for(tought of toughts) { %>
            <li class="bg-transparent text-warning list-group-item d-flex justify-content-between">
                <div>
                    <div><%= tought.title %></div>
                    <div class="text-dark">Por: <span class="text-warning"><%= tought.User.name %></span></div>
                </div>
            </li>
            <% } %>
        </ul>
    </section>
</div>

<%- include("partials/footer"); %>
<%- include("includes/footer"); %>