<%- include("includes/head"); %>
<%- include("partials/header"); %>

<div class="toughts">

    <h1>Home</h1>
    <%- include("partials/flashMessage"); %>

</div>

<%- include("partials/footer"); %>
<%- include("includes/footer"); %>