<%- include("includes/head"); %>
<%- include("partials/header"); %>



<div class="register">

    <section>
        <div class="d-flex align-items-center gradient-custom-3 container py-5 h-100">
            <div class="container h-100">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                        <div class="card" style="border-radius: 15px;">
                            <div class="card-body p-5">
                                <%- include("partials/flashMessage"); %>
                                <h2 class="text-uppercase text-center mb-4">CRIE SUA CONTA</h2>
                                <form action="/register" method="POST">
                                    <div class="form-outline mb-4">
                                        <input type="text" name="name" class="form-control form-control-lg" />
                                        <label class="form-label" for="name">Seu Nome</label>
                                    </div>
                                    <div class="form-outline mb-4">
                                        <input type="email" name="email" class="form-control form-control-lg" />
                                        <label class="form-label" for="email">Seu Email</label>
                                    </div>
                                    <div class="form-outline mb-4">
                                        <input type="password" name="password" class="form-control form-control-lg" />
                                        <label class="form-label" for="password">Senha</label>
                                    </div>
                                    <div class="form-outline mb-4">
                                        <input type="password" name="confirmpassword" class="form-control form-control-lg" />
                                        <label class="form-label" for="confirmpassword">Repira Sua Senha</label>
                                    </div>
                                    <div class="form-check d-flex justify-content-center mb-4">
                                        <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3cg" />
                                        <label class="form-check-label" for="form2Example3g">Você concorda com os <a href="#!" class="text-body"><u>Termos de uso</u></a>
                                        </label>
                                    </div>
                                    <div class="d-flex justify-content-center">
                                        <button type="submit" class="btn btn-warning btn-block btn-lg gradient-custom-4 text-body">Registrar-se</button>
                                    </div>
                                    <p class="text-center text-muted mt-4 mb-0">Ja possui uma conta? <a href="#!" class="fw-bold text-body"><u>Então entre!</u></a></p>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>

<%- include("partials/footer"); %>
<%- include("includes/footer"); %>